@charset "UTF-8";

/* Importation de polices Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=DM+Sans:opsz,wght@9..40,500&family=DM+Sans:ital,opsz,wght@1,9..40,500&display=swap');

/**
 * @author X <X@csfoy.ca>
 *
 * TABLE DES MATIERES
 *
 * Reset
 * Utilitaires
 * Charte typographique
 * Grille de mise en page 
 *
 */

/* Reset
   ========================================================================== */

@import url(normalize.css);


/* Utilitaires
   ========================================================================== */

/* Définir des variables CSS */
:root {
    /* Couleurs */
    --color-primary: #7551db;
    --color-secondary: #fecc6a;
    --color-tertiary: rgb(221, 209, 252); 
}


/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
 
/* fluidifier les images */
img{
    max-width: 100%;
}
 
/* Charte typographique
   ========================================================================== */
 
/* Base décimale */
html{
    font-size: 62.5%;
}

body {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 2rem;
    background-color: rgb(242, 242, 242);

    /* taille de police du texte sur l'écran étroit: 14px */
    font-size: 1.4rem;
    /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
    line-height: 1.375;
} 

@media (min-width: 600px) {
    body {
        line-height: 1.5;
        font-size: 1.6rem;
    }
}
@media (min-width: 800px) {
    body {
        line-height: 1.75;
        font-size: 1.6rem;
    }
}

h1,
h2,
h3,
h4{ 
    font-weight: 500;
}
 
/* Hiérarchie responsive : plus proche = plus petit  &  plus loin = plus grand */
/* AJUSTER LES VALEURS SELON VOTRE PROJET */
h1 {
    /* = 24px */
    font-size: 2.4rem;
}
@media (min-width: 600px) {
    h1 {
        /* = 32px */
        font-size: 3.2rem;
    }
}
@media (min-width: 800px) {
    h1 {
        /* = 0px */
        font-size: 5.5rem;
        line-height: 1;
    }
}

h2 {
    /* = 24px */
    font-size: 2.4rem;
}
@media (min-width: 600px) {
    h2 {
        /* = 50px */
        font-size: 5rem;
    }
}
@media (min-width: 800px) {
    h2 {
        /* = 550px */
        font-size: 4.5rem;
        line-height: 1;
    }
}

h3 {
    /* = 24px */
    font-size: 2.4rem;
}
@media (min-width: 600px) {
    h3 {
        /* = 32px */
        font-size: 3.2rem;
    }
}
@media (min-width: 800px) {
    h3 {
        /* = 25px */
        font-size: 2.5rem;
        line-height: 1;
    }
}

/* Grille de mise en page
   ========================================================================== */

.commentaires{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-gap: 2rem;
    padding: 1rem 12rem 1rem 12rem;
    grid-template-areas: 
    "G A A D"
    "G A A D"
    "G B C D"
    "H B C D"
    "H F E E"
    "H F E E";
}

.commentaires__item{
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 10px;
}

.zone_A{
    grid-area: A;
    color: white;

    text-align: center;
    background-color: #7551db;

    /* Image */
    background-image: url("../images/illustration-five-stars.webp");
    background-size: 30%;
    background-repeat: no-repeat, repeat;
    background-position-x: 50%;
    background-position-y: 75%;
}

.zone_B{
    grid-area: B;
    background-color: white;
}

.zone_C{
    grid-area: C;
    background-color: #fecc6a;

    /* Image */
    background-image: url("../images/illustration-consistent-schedule.webp");
    background-size: 70%;
    background-repeat: no-repeat, repeat;
    background-position-x: 35%;
     background-position-y: 250%;
}

.zone_D{
    grid-area: D;
    background-color: #b6a7dd;
}

.zone_E{
    grid-area: E;
    background-color: #7551db;
    color: white;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.img__zone_E{
    width: 80%;
    margin-right: 2rem;
}

.zone_F{
    grid-area: F;
    background-color: white;
}

.zone_G{
    grid-area: G;
    background-color: antiquewhite;
}

.zone_H{
    grid-area: H;
    background-color: #fecc6a;
}

.italique{
    font-style: italic;
}

.jaune{
    color: #fecc6a;
}