@charset "UTF-8";

/* Importation de polices Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=DM+Sans:opsz,wght@9..40,500&family=DM+Sans:ital,opsz,wght@1,9..40,500&display=swap');

/**
 * @author Cassiopée Gariépy <X@csfoy.ca>
 *
 * TABLE DES MATIERES
 *
 * Reset
 * Utilitaires
 * Charte typographique
 * Grille de mise en page 
 *  - Mobile
 *  - > 600px
 *  - > 800px
 * Styles Spéciaux
 */

/* Reset
   ========================================================================== */

@import url(normalize.css);


/* Utilitaires
   ========================================================================== */

/* Définir des variables CSS */
:root {
    /* Couleurs */
    --color-primary: #7551db;
    --color-secondary: #fecc6a;
    --color-tertiary: rgb(221, 209, 252); 
}


/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
 
/* fluidifier les images */
img{
    max-width: 100%;
}
 
/* Charte typographique
   ========================================================================== */
 
/* Base décimale */
html{
    font-size: 62.5%;
}

body {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 2rem;
    background-color: rgb(242, 242, 242);

    /* taille de police du texte sur l'écran étroit: 14px */
    font-size: 1.4rem;
    /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
    line-height: 1.375;
} 

@media (min-width: 600px) {
    body {
        line-height: 1.5;
        font-size: 1.6rem;
    }
}
@media (min-width: 800px) {
    body {
        line-height: 1.75;
        font-size: 1.6rem;
    }
}

h1,
h2,
h3,
h4{ 
    font-weight: 500;
}
 
/* Hiérarchie responsive : plus proche = plus petit  &  plus loin = plus grand */
/* AJUSTER LES VALEURS SELON VOTRE PROJET */
h1 {
    /* = 24px */
    font-size: 3.8rem;
}
@media (min-width: 600px) {
    h1 {
        /* = 32px */
        font-size: 3rem;
    }
}
@media (min-width: 800px) {
    h1 {
        /* = 0px */
        font-size: 5.5rem;
        line-height: 1;
    }
}

h2 {
    /* = 24px */
    font-size: 2.4rem;
}
@media (min-width: 600px) {
    h2 {
        /* = 50px */
        font-size: 2.4rem;
    }
}
@media (min-width: 800px) {
    h2 {
        /* = 550px */
        font-size: 4rem;
        line-height: 1;
    }
}

h3 {
    /* = 24px */
    font-size: 2.4rem;
}
@media (min-width: 600px) {
    h3 {
        /* = 32px */
        font-size: 2rem;
    }
}
@media (min-width: 800px) {
    h3 {
        /* = 25px */
        font-size: 2.5rem;
        line-height: 1;
    }
}

/* Grille de mise en page
   ========================================================================== */


/* STYLES POUR MOBILE */

   .commentaires{
    display: grid;
    grid-template-columns: 1fr;
}

.commentaires__item{
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.zone_A{
    color: white;
    text-align: center;
    background-color: #7551db;

    /* Image */
    background-image: url("../images/illustration-five-stars.webp");
    background-size: 50%;
    background-repeat: no-repeat, repeat;
    background-position-x: 50%;
    background-position-y: 80%;
}

.zone_B{
    background-color: white;
}

.zone_C{
    background-color: #fecc6a;
    min-height: 22rem;

    /* Image */
    background-image: url("../images/illustration-consistent-schedule.webp");
    background-size: 70%;
    background-repeat: no-repeat, repeat;
    background-position-x: 10%;
    background-position-y: 150%;
}

.zone_D{
    background-color: #b6a7dd;

    /* Image */
    background-image: url("../images/illustration-schedule-posts.webp");
    background-size: 80%;
    background-repeat: no-repeat, repeat;
    background-position-x: 35%;
    background-position-y: 50%;
}
.margin_top{
    margin-top: 25rem;
}

.zone_E{
    background-color: #7551db;
    color: white;

    text-align: center;
}
.img__zone_E{
    width: 80%;
    margin-top: 10px;
    margin-left: 20px;
}

.zone_F{
    background-color: white;
}

.zone_G{
    background-color: antiquewhite;
}
.img__zone_G{
    width: 70%;
}

.zone_H{
    background-color: #fecc6a;
}


/* STYLES POUR width > 600 px */

@media(width > 600px){
    .commentaires{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-gap: 1rem;
        padding: 0rem 1rem 0rem 1rem;
        grid-template-areas: 
        "G A A D"
        "G A A D"
        "G B C D"
        "H B C D"
        "H F E E"
        "H F E E";
    }

    .commentaires__item{
        padding: 0rem 1rem 0rem 1rem;
        margin-bottom: 0;
    }

.zone_A{
    grid-area: A;

    /* Image */
    background-image: url("../images/illustration-five-stars.webp");
    background-size: 30%;
    background-repeat: no-repeat, repeat;
    background-position-x: 50%;
    background-position-y: 65%;
}

.zone_B{
    grid-area: B;
}
.img__zone_B{
    margin-top: 20px;
}

.zone_C{
    grid-area: C;

    /* Image */
    background-image: url("../images/illustration-consistent-schedule.webp");
    background-size: 80%;
    background-repeat: no-repeat, repeat;
    background-position-x: 25%;
    background-position-y: 100%;
}

.zone_D{
    grid-area: D;

    /* Image */
    background-image: url("../images/illustration-schedule-posts.webp");
    background-size: 90%;
    background-repeat: no-repeat, repeat;
    background-position-x: 50%;
    background-position-y: 40%;
}
.margin_top{
    margin-top: 15rem;
}

.zone_E{
    grid-area: E;

    display: block;
    align-items: center;
    text-align: left;
    text-align: center;
}
.img__zone_E{
    width: 60%;
    margin-left: 0px;
}

.zone_F{
    grid-area: F;
}
.img__zone_F{
    width: 80%;
}

.zone_G{
    grid-area: G;
}

.zone_H{
    grid-area: H;
    padding-bottom: 0rem;
}
.img__zone_H{
    width: 100%;
}
}

/* STYLES POUR width > 800 px */

@media(width > 800px){
    .commentaires{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-gap: 2rem;
        padding: 0rem 12rem 0rem 12rem;
        grid-template-areas: 
        "G A A D"
        "G A A D"
        "G B C D"
        "H B C D"
        "H F E E"
        "H F E E";
    }

    .commentaires__item{
        padding: 0rem 2rem 0rem 2rem;
        margin-bottom: 0;
    }

.zone_A{
    grid-area: A;

    /* Image */
    background-image: url("../images/illustration-five-stars.webp");
    background-size: 30%;
    background-repeat: no-repeat, repeat;
    background-position-x: 50%;
    background-position-y: 75%;
}

.zone_B{
    grid-area: B;
}

.zone_C{
    grid-area: C;

    /* Image */
    background-image: url("../images/illustration-consistent-schedule.webp");
    background-size: 70%;
    background-repeat: no-repeat, repeat;
    background-position-x: 35%;
    background-position-y: 180%;
}

.zone_D{
    grid-area: D;

    /* Image */
    background-image: url("../images/illustration-schedule-posts.webp");
    background-size: 100%;
    background-repeat: no-repeat, repeat;
    background-position-x: 7rem;
    background-position-y: 50%;
}
.margin_top{
    margin-top: 30rem;
}

.zone_E{
    grid-area: E;

    display: flex;
    align-items: center;
    text-align: left;
}
.img__zone_E{
    width: 50%;
    margin-left: 0px;
}

.zone_F{
    grid-area: F;
}
.img__zone_F{
    width: 80%;
}

.zone_G{
    grid-area: G;
}

.zone_H{
    grid-area: H;
    padding-bottom: 1rem;
}
.img__zone_H{
    width: 80%;
}
}

/* Styles Spéciaux
   ========================================================================== */

.italique{
    font-style: italic;
}

.jaune{
    color: #fecc6a;
}

.mauve{
    color: #b6a7dd;
}